@font-face {
    font-family: os-light;
    src: url('../assets/fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: os-regular;
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: os-bold;
    src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: os-semi-bold;
    src: url('../assets/fonts/OpenSans-Semibold.ttf');
}